name: Check-if-master-ahead
on: 
  workflow_dispatch:
  schedule:
     - cron: '0 8 * * 1-5'
jobs:
  get_tag:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: get latest git tag
        id: get_tag
        run: echo "TAG=$(git describe --abbrev=0 --tags)" >> $GITHUB_ENV
      - name: get number of commits ahead
        id: get_no_of_commits
        run: | 
          NO_OF_COMMITS=$(git log ${{env.TAG}}..master | grep "^commit" | wc -l)
          echo "::set-output name=commits::$NO_OF_COMMITS"
      - name: diff master and tag
        id: diff
        run: | 
          DIFF="$(git shortlog ${{env.TAG}}..master)"
          DIFF="$(echo "$DIFF" | sed -z 's/\n/\\n/g')"
          echo "::set-output name=diff::$DIFF"
      - name: Notify Slack of changes
        id: slack
        if: env.NO_OF_COMMITS > 0
        uses: slackapi/slack-github-action@v1.19.0
        with:
          payload: ${{format(env.SLACK_MSG, env.NO_OF_COMMITS, env.DIFF, env.TAG)}}
        env:
          DIFF: ${{steps.diff.outputs.diff}}
          NO_OF_COMMITS: ${{steps.get_no_of_commits.outputs.commits}}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_RELEASE_CHECKER_WEBHOOK_URL }}
          SLACK_MSG: '{{"repo":"member-forms", "no_of_commits":"{0}","diff":"{1}", "rel":"{2}"}}'
